name: Full Infra + Lambda Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          # aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          # aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          # aws-region: ${{ secrets.AWS_REGION }}
          aws-access-key-id: "AKIAVZLWL6MAHNBFLK43"
          aws-secret-access-key: "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"
          aws-region: "us-east-1"

      - name: Zip Lambda
        run: |
          cd test
          zip -r test.zip .
          mv test.zip ../../
          ls ../../
          cd ../../
          ls
          pwd

      - name: Upload to S3
        id: upload
        run: |
          pwd
          ls
          cd ../
          pwd
          ls
          aws s3 cp test.zip s3://rushi2424/test.zip
          VERSION=$(aws s3api head-object \
            --bucket rushi2424 \
            --key test.zip \
            --query VersionId \
            --output text)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Check if Stack Exists
        id: stackcheck
        run: |
          if aws cloudformation describe-stacks --stack-name test-stack 2>/dev/null; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Create Stack (if not exists)
        if: steps.stackcheck.outputs.exists == 'false'
        run: |
          aws cloudformation create-stack \
            --stack-name test-stack \
            --template-body file://template.yml \
            --parameters ParameterKey=LambdaCodeVersion,ParameterValue=${{ steps.upload.outputs.version }} \
            --capabilities CAPABILITY_NAMED_IAM

          aws cloudformation wait stack-create-complete \
            --stack-name test-stack

      - name: Update Stack (if exists)
        if: steps.stackcheck.outputs.exists == 'true'
        run: |
          aws cloudformation update-stack \
            --stack-name test-stack \
            --template-body file://template.yml \
            --parameters ParameterKey=LambdaCodeVersion,ParameterValue=${{ steps.upload.outputs.version }} \
            --capabilities CAPABILITY_NAMED_IAM || echo "No updates to perform"

          aws cloudformation wait stack-update-complete \
            --stack-name test-stack
